table {
    width: 100%;
  }
  .marcados{
    text-align: center;
  }
  @media  screen and (max-width: 600px){ 
    table{
        width: 100vw;
        background-color: azure;
    }
    .preco{
        max-width:15px;
        width: 100vw;
        
    }
}

  
